<link rel="stylesheet" href="{{ '/assets/css/page-layouts.css' | relative_url }}">
<style>
@media (min-width: 1025px) {
  html.reserved-left-space .page {
    width: min(980px, calc(100vw - 260px));
    max-width: none !important;
    margin-left: 180px !important;
    margin-right: auto !important;
    padding-left: 40px !important;
  }
}
@media (max-width: 1024px) {
  html.reserved-left-space .page {
    width: auto;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}
</style>
<script>
  (function () {
    var path = window.location.pathname.replace(/\/$/, '');
    var base = '{{ site.baseurl }}'.replace(/\/$/, '');
    if (base && path.indexOf(base) === 0) path = path.slice(base.length);
    path = path || '/';
    var targets = ['/research', '/teaching', '/software', '/competitions'];
    if (targets.indexOf(path) !== -1) {
      document.documentElement.classList.add('reserved-left-space');
    }
  }());
</script>
